@import url('https://fonts.googleapis.com/css?family=Comfortaa:700|Varela+Round&subset=latin-ext');

body {
	margin: 0px;
}

.header {
	width: 100%;
	height: 50px;
	position: fixed;
	top: 0;
	background-color: rgba(11,65,118,0.8);
	background-image: linear-gradient(to bottom, #0b4176, rgba(11,65,118,0.5));
	background-repeat: repeat-x;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.header h1 {
	color: #FFFFFF;
	font-family: 'Comfortaa', cursive;
	margin-left: 5px;
	font-weight: bold;
}

.log {
	color: #0b3e71;
	font-family: 'Varela Round', sans-serif;
	background-color: white;
	border-radius: 20px;
	padding: 5px 20px 5px 20px;
	margin-left: 15px;
}

.lang {
	color: white;
	font-family: 'Varela Round', sans-serif;
}

.header-right {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.body-wrapper {
	width: 100%;
	height: 100%;
}

.carousel {
	width: 100%;
	height: 100vh;
	background-color: #0b3e71;
	background: -webkit-linear-gradient(top, #0b3e71, #0d64b0);
}

.info {
	width: 100%;
	height: 100vh;
}
